<launch>
    <include file="$(find livox_ros_driver)/launch/livox_lidar_msg.launch" />
    <include file="$(find point_lio)/launch/mapping_avia.launch" />
    <node pkg="lidar_control" type="cmd_vel_converter.py" name="cmd_vel_converter" />
    <node pkg="lidar_control" type="position_converter.py" name="position_converter" />
</launch>
